body,html{
    display: flex;
    justify-content: center;
    background-color: blue;

}
#main-container{
    width:1000px;
    border: 1px solid black;
}

header{
    text-align: center;
    background-color: skyblue;
    height:100px;
    line-height: 100px;

}

h1{
    margin: 0;
}