html,body{
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
	background-position: center;
    background-size: cover;
}
#canvas{
	border:5px solid blue;
    box-sizing: border-box;
    padding: 1px;
	
}

#sky{display:none;}
#sky2{display:none;}
#sky3{display:none;}


